<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body style="background-color: ghostwhite;">
    <h1 style="background-color:lightgray; color:darkolivegreen;">Bestellbestätigung</h1>
		<h3>Sehr geehrter <?= clientGender ?> <?= clientNameCl ?>,</h3>
		<text>
			Vielen Dank für Ihren Auftrag!
			<br> Wir möchten Sie darüber informieren, dass sich Ihre Bestellung mit der ID-Nummer: <b> <?= orderId ?> </b> in unserem System befindet.
			<br>
			<br> Wir werden unser Bestes tun, um Ihnen die Dateien innerhalb von 48 Stunden zurückzusenden.
			<br> Sobald wir unsere Arbeit abgeschlossen haben, erhalten Sie eine E-Mail mit den Links zum Herunterladen Ihrer Bestellung.
			<br>
			<br> MfG,
            <br> <b>Péter László</b>
            <br> Geschäftsführer
            <br> Tel, Whatsapp: +40771717414
            <br> www.PlanSetter.com
            <br> PlanSetter Srl
            <br> RO34947433
            <br> Siebenbürgen
            <br> Rumänien
		</text>
  </body>
</html>